<div class="head">
  <div class="inner">
    <a class="head_logo" href="{{ linkify('/') }}">{{ site.name }}</a>
    <div class="head_links">
      <a href="#" class="head_search js-search"
        {% if features.algolia data-id="{{ site.algolia_id }}" data-key="{{ site.algolia_key }}"{% endif %}>
        <i class="icon icon-search" aria-label="Search"></i>
      </a>
      {% if site.nav_links %}
        <label for="nav-links" aria-label="Navigation">
          <i class="icon icon-menu"></i>
        </label>
        <input type="checkbox" id="nav-links" />
        <nav>
          {% for nav in site.nav_links -%}
            <a href="{{ nav.url }}" {% if nav.blank %} target="_blank"{% endif %}>{{ nav.title }}</a>
          {% endfor %}
        </nav>
      {% endif %}
    </div>
  </div>
</div>
