{% include "./_partials/common.j2" %}

{% from "macros.j2" import render_item %}

{% block style%}
<link rel="stylesheet" href="{{ static_url }}nezu.css">
{% if nezu and nezu.css_files %}
  {% for src in nezu.css_files %}
    <link rel="stylesheet" href="{{ src }}">
  {% endfor %}
{% else %}
  <link rel="preconnect" href="https://use.typkit.net" crossorigin>
  <link rel="stylesheet" href="https://use.typekit.net/zbe5yhf.css">
{% endif %}
{% endblock %}

{% block body %}
  {% include "./_partials/head.j2" %}
  <div class="body">
    {% include "./_partials/site_info.j2" %}
    <div class="main">
      <div class="inner">
        {% set subjects = query.latest_subjects(count=10) %}
        {% for subject in subjects %}
          {{ render_item(site, subject) }}
        {% endfor %}
        {% if subjects|count == 10 %}
          {% set last = subjects|last %}
          <div class="home-more">
            <a href="{{ linkify(site.list_url) }}{{last.published_at.year}}/#item-{{last.id}}">ARCHIVE</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
