{% include "./_partials/common.j2" %}

{% from "macros.j2" import render_subject_content, render_subject_license, render_subject_authors %}

{% block style%}
<link rel="stylesheet" href="https://s3.typlog.com/npm/@typlog/yue@1.0.0/yue.css">
<link rel="stylesheet" href="{{ static_url }}nezu.css">
{% if nezu and nezu.css_files %}
  {% for src in nezu.css_files %}
    <link rel="stylesheet" href="{{ src }}">
  {% endfor %}
{% else %}
  <link rel="preconnect" href="https://use.typkit.net" crossorigin>
  <link rel="stylesheet" href="https://use.typekit.net/zbe5yhf.css">
{% endif %}
{% endblock %}


{% block body %}
  {% include "./_partials/head.j2" %}
  <div class="body">
    {% if page.cover and page.cover.src %}
      <div class="entry-cover js-cover" data-src="{{ page.cover.src|thumbnail }}"
          data-width="{{ page.cover.width }}" data-height="{{ page.cover.height }}"
          {% if page.cover.width and page.cover.height %}style="height:{{ page.cover.height / page.cover.width * 100}}vw"{% endif%}>
        <img class="u-photo" src="{{ page.cover.src|thumbnail }}" alt="{{ page.title }} cover" width="{{ page.cover.width }}" height="{{ page.cover.height }}">
      </div>
    {% else %}
      {% include "./_partials/site_info.j2" %}
    {% endif %}
    <div class="inner">
      <article role="main" class="h-entry" itemscope itemtype="http://schema.org/Article">
        {% if page.type == 'audio' %}
          {{ render_subject_authors(site, page) }}
        {% endif %}
        <div class="entry-meta">
          {% if page.type == 'audio' %}
            {% if page.season and page.episode %}
              <span class="item-label">S{{ page.season }}E{{ page.episode }}</span>
            {% endif %}
            <span class="item-label">{{ page.duration }}</span>
          {% endif %}
          {% if page.published_at %}
            <time class="dt-published" datetime="{{ page.published_at|xmldatetime }}"
                  itemprop="datePublished">{{ page.published_at.strftime('%b %d, %Y') }}</time>
          {% endif %}
        </div>
        <h1 class="p-name" itemprop="headline">{{ page.title }}</h1>
        {% if page.subtitle %}
          <h2 class="p-summary">{{ page.subtitle }}</h2>
        {% endif %}
        <div class="e-content js-content yue" itemprop="articleBody">
          {{ render_subject_content(site, page) }}
        </div>
        {% if page.tags %}
          <div class="entry-tags">
            {% for tag in page.tags %}
              <a class="p-category" href="{{ linkify(tag.url) }}">{{ tag.title }}</a>
            {% endfor %}
          </div>
        {% endif %}
        {% if page.type == 'post' %}
          {{ render_subject_authors(site, page) }}
          {{ render_subject_license(site, page) }}
        {% endif %}
      </article>
      {% if page.type != 'page' %}
        <div class="entry-block">
          {% include "_snippets/subject_share.j2" %}
        </div>
      {% endif %}
    </div>
    {% include "_snippets/subject_foot.j2" %}
  </div>
{% endblock %}
