{% from "macros.j2" import render_item, render_navigation %}

{% block style %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url }}nezu.css">
{% endblock %}

{% block body %}
  {% include "./_head.j2" %}
  {% if page.type == 'tag' %}
  {% elif page.type == 'author' %}
  {% elif page.type == 'episode_list' %}
    {% include "./_podcast.j2" %}
  {% else %}
    {% include "./_site.j2" %}
  {% endif %}
  <div class="main">
    <div class="inner">
      {% for subject in page.items %}
        {{ render_item(site, subject) }}
      {% endfor %}
      {{ render_navigation(site, page) }}
    </div>
  </div>
  {% include "_snippets/site_foot.j2" %}
  {% include "_snippets/brand_foot.j2" %}
{% endblock %}
