<header class="head">
  <div class="head_wrap">
    <div class="head_inner">
      <div class="head_logo">
        {% if nezu and nezu.logo %}
          <a {% if nezu.url%}href="{{ nezu.url }}"{% else %}href="/"{% endif%}>
            {% if nezu.logo.light %}
              <img class="light-logo" src="{{ nezu.logo.light|thumbnail('ss') }}" alt="{{ site.name }}" height="35" />
            {% endif %}
            {% if nezu.logo.dark %}
              <img class="dark-logo" src="{{ nezu.logo.dark|thumbnail('ss') }}" alt="{{ site.name }}" height="35" />
            {% endif %}
          </a>
        {% elif site.logo %}
          <a href="/">
            <img src="{{ site.logo|thumbnail('ss') }}" alt="{{ site.name }}" height="35" />
          </a>
        {% else %}
          <a href="/">
            <span>{{ site.name }}</span>
          </a>
        {% endif %}
      </div>
      <div id="HeadNav" class="head_links">
        <nav class="head_primary">
          {% if nezu and nezu.primary_nav %}
            {{ render_links(nezu.primary_nav, 'Primary') }}
          {% else %}
            {{ render_links(site.primary_links, 'Primary') }}
          {% endif %}
        </nav>
        <nav class="head_secondary">
          {% if nezu and nezu.secondary_nav %}
            {{ render_links(nezu.secondary_nav, 'Secondary') }}
          {% else %}
            {{ render_links(site.secondary_links, 'Secondary') }}
          {% endif %}
        </nav>
      </div>
      <div class="head_actions">
        <div class="head_search">
          <button type="button" class="js-search">
            <i class="icon icon-search" aria-label="Search"></i>
          </button>
        </div>
        <div class="theme-toggle">
          <input type="checkbox" id="js-theme-toggle">
          <label for="js-theme-toggle">
            <span class="theme-toggle_handle"></span>
            <svg class="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="Light theme icon (sun)">
              <circle cx="12" cy="12" r="5" fill="currentColor"></circle>
              <line x1="12" y1="1" x2="12" y2="3"></line>
              <line x1="12" y1="21" x2="12" y2="23"></line>
              <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
              <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
              <line x1="1" y1="12" x2="3" y2="12"></line>
              <line x1="21" y1="12" x2="23" y2="12"></line>
              <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
              <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg>
            <svg class="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="Dark theme icon (moon)">
              <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" fill="currentColor" stroke="none"></path>
            </svg>
          </label>
        </div>
        <button type="button" class="head_menu js-toggle-menu" aria-label="mobile navigation" aria-expanded="false" aria-controls="HeadNav">
          <span class="hamburger">
            <span class="hamburger_1"></span>
            <span class="hamburger_2"></span>
            <span class="hamburger_3"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
