<div class="inner">
  <div class="info h-card">
    {% if site.logo %}
      <a class="info_logo" href="{{ linkify('/') }}">
        <img class="u-photo" src="{{ site.logo.src|thumbnail('ss') }}" alt="{{ site.name }}" width="120" height="120">
      </a>
    {% endif %}
    <div class="info_main">
      <h1 class="info_title"><a class="p-name u-url" rel="me" href="{{ linkify('/') }}">{{ site.name }}</a></h1>
      {% if site.summary %}
        <h2 class="info_subtitle p-note">{{ site.summary }}</h2>
      {% endif %}
      <div class="info_social">
        {% if features.post %}
          <div class="info_subscribe">
            <button class="js-subscribe">Subscribe</button>
          </div>
        {% endif %}
        {{ render_social_icons(site, site.socials.email) }}
      </div>
    </div>
  </div>
</div>
