.entry-cover {
  padding: 0;
  max-height: 74vh;
  margin-bottom: 20px;
  background: var(--nz-c-bg-weak) no-repeat center;
  background-size: cover;
}
.entry-cover > img {
  display: none;
}

h1.p-name {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--nz-c-text-strong);
}

h2.p-summary {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 300;
  color: var(--nz-c-text-light);
}

.entry-meta {
  vertical-align: middle;
  color: var(--nz-c-text-mute);
  font-size: 14px;
  margin-bottom: 10px;
}
.entry-meta a {
  text-decoration: none;
  color: var(--nz-c-text-light);
  font-weight: 700;
}

time.dt-published {
  text-transform: uppercase;
  vertical-align: middle;
}

.p-location {
  margin-left: 6px;
}
.p-location:before {
  content: '/';
  color: var(--nz-c-divider-light);
}

.entry-link {
  padding: 1em;
  background: var(--nz-c-bg-mute);
  border-left: 4px solid rgba(var(--t-rc-primary), 0.6);
}

.entry-audio audio {
  width: 100%;
}

.h-entry .entry-audio {
  margin-top: 20px;
  margin-bottom: 40px;
}

.h-entry .shk-player {
  border: 1px solid var(--nz-c-divider);
  font-family: inherit;
}

.h-entry .e-content {
  font-size: 18px;
  line-height: 1.62;
  margin-top: 2em;
  margin-bottom: 3em;
}

.entry-block {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.entry-section {
  padding: 20px 0;
}

.entry-section h2 {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--nz-c-text-light);
}

.prev-subject .item {
  font-size: 18px;
  line-height: 1.42;
  margin: 10px 0;
  padding: 0;
  border: 0;
}

.prev-subject .item h3 {
  margin: 0.2em 0;
  font-size: 1.3em;
  color: var(--nz-c-text-strong);
}

.prev-subject .item-subtitle {
  font-size: 1em;
}

.prev-subject a:hover h3 {
  color: var(var(--nz-c-accent));
}

.prev-subject .item-meta {
  margin: 0;
}


@media (max-width: 680px) {
  .prev-subject h3 {
    font-size: 1.2em;
  }
  .entry-share a[data-type="wx"] {
    display: none;
  }
}
@media (max-width: 520px) {
  .prev-subject h3 {
    font-size: 1.1em;
  }
}
